@import '../sass/variables.scss';

.text-highlight {
    background-color: $c-golden;
    color: black;
}

.refer-banner {
        background-color: $c-golden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 40px;
        .refer-text {
            text-align: center;
            h1 {
                margin-bottom: 20px;
            }
        }
}

@media (max-width: 630px) {
    .refer-banner {
        flex-direction: column;
        text-align: center;
    }
}