.loan-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;

    h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}